* {
  background-color: #d2a679;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  line-height: 1.75;
}
p,
li{
  line-height: 1.2;
}
.purple-text {
  color: #4d0026;
}
ul {
  list-style-type: circle;
}
.highlight {
  background-color:#4d0026;
  color: #d2a679;
}
.img {
  text-align: center;
}